<div class="dialog-container">
  <div mat-dialog-title class="mat-dialog-title">
    <span class="title">Chercher un client</span>
  </div>


  <mat-dialog-content class="input-container" [formGroup]="searchClientForm">

    <div class="slider">
      <mat-label>Nombre de client à afficher:</mat-label>
      <mat-slider
        [max]="max"
        [min]="min"
        formControlName="maxUser"
        (valueChange)="changeValue()">
      </mat-slider>
      <label class="value-label">{{value}}</label>
    </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nom</mat-label>
      <input type="text" matInput formControlName="nom" [matAutocomplete]="autoName">
      <mat-autocomplete autoActiveFirstOption #autoName="matAutocomplete">
        <mat-option *ngFor="let option of listNameOptions | async | slice : 0 : 5" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Prénom</mat-label>
      <input type="text" matInput formControlName="prenom" [matAutocomplete]="autoFistname">
      <mat-autocomplete autoActiveFirstOption #autoFistname="matAutocomplete">
        <mat-option *ngFor="let option of listFirstNameOptions | async | slice : 0 : 5" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Adresse</mat-label>
      <input type="text" matInput formControlName="adresse" [matAutocomplete]="autoAddress">
      <mat-autocomplete autoActiveFirstOption #autoAddress="matAutocomplete">
        <mat-option *ngFor="let option of listAddressOptions | async | slice : 0 : 5" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ville</mat-label>
      <input type="text" matInput formControlName="ville" [matAutocomplete]="autoCity">
      <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
        <mat-option *ngFor="let option of listCityOptions | async | slice : 0 : 5" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Code postal</mat-label>
      <input type="text" matInput formControlName="codePostal" [matAutocomplete]="autoZipcode">
      <mat-autocomplete autoActiveFirstOption #autoZipcode="matAutocomplete">
        <mat-option *ngFor="let option of listZipCodeOptions | async | slice : 0 : 5" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

  </mat-dialog-content>
  <mat-dialog-actions class="action-buttons">
    <button mat-button (click)="close()">Annuler</button>
    <button mat-button class="valide-button" (click)="valid()">Valider</button>
  </mat-dialog-actions>
</div>







