<mat-card class="client-card" *ngIf="client">
  <mat-card-header class="info">
    <div mat-card-avatar class="avatar"></div>
    <mat-card-title>{{client.nom}}</mat-card-title>
    <mat-card-subtitle>{{client.prenom}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="more-info">
    <span>{{client.adresse}}</span>
    <span>{{client.codePostal}}, {{client.ville}}</span>
  </mat-card-content>
  <mat-card-actions class="action-buttons">
    <button mat-button (click)="editEvent()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-button (click)="deleteEvent()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
