.client-card {
  max-width: 300px;
  border: 1px solid gray;
}

.avatar {
  background-image: url('https://avataaars.io/?avatarStyle=Circle&topType=Turban&accessoriesType=Kurt&hatColor=Blue03&facialHairType=Blank&clotheType=GraphicShirt&clotheColor=Gray01&graphicType=Skull&eyeType=Cry&eyebrowType=RaisedExcited&mouthType=Serious&skinColor=DarkBrown');
  background-size: cover;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
}

.info {
  font-weight: 600;
}

.more-info {
  display: flex;
  flex-direction: column;

  span {
    padding: 5px;
  }

  span:not(:last-child) {
    border-bottom: 1px solid gray;
  }
}
