<div class="header-container">
  <div class="search-container">
    <button mat-raised-button class="add-button" (click)="openClientDialog()">
      <mat-icon>add</mat-icon>
      Créer un client
    </button>
    <button mat-raised-button class="add-button" (click)="openSearchDialog()">
      <mat-icon>search</mat-icon>
      Rechercher un ou des client(s)
    </button>
    <button mat-raised-button class="add-button" (click)="getClients()">
      <mat-icon>restore</mat-icon>
      Reset les filtres
    </button>
  </div>
  <div class="title-container">
    <p class="title">Clients Manager fait par Damien LE BORGNE</p>
  </div>
</div>


<div class="clients-container">

  <app-client class="clients" *ngFor="let client of clients" [client]="client" (refresh)="showEditedClient($event)"
              (delete)="deleteClient($event)"></app-client>

  <div class="no-client" *ngIf="isClientEmpty()">Aucun client à afficher…</div>

</div>
