@use "src/styles/abstracts" as *;

.main-container {
  display: flex;
  height: calc(100% - #{$header-height});
}

.clients-container {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;

  .clients {
    padding: 10px 10px;
    width: 180px;
  }

  .no-client {
    padding: 10px;
  }
}


.header-container {
  display: flex;
  width: 100%;
  height: $header-height;
  background-color: cornflowerblue;
  color: white;

  .search-container {
    display: flex;
    flex: 1;
    width: 100%;
    padding-left: 10px;

    .add-button {
      margin: 10px;
    }
  }

  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
}
