.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dialog-container {
  width: 100%;
  height: 100%;


  .dialog-title-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
  }

  .title {
    display: flex;
    justify-content: center;
  }
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  flex: 1 auto;

  .valide-button {
    background: #38d038;
  }
}


