<div class="dialog-container">
  <div mat-dialog-title class="mat-dialog-title">
    <span class="title">{{title}}</span>
  </div>
  <mat-dialog-content class="input-container" [formGroup]="ClientEditForm">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nom</mat-label>
      <input type="text" matInput formControlName="nom">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Prénom</mat-label>
      <input type="text" matInput formControlName="prenom">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Adresse</mat-label>
      <input type="text" matInput formControlName="adresse">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Ville</mat-label>
      <input type="text" matInput formControlName="ville">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Code postal</mat-label>
      <input type="text" matInput formControlName="codePostal">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions class="action-buttons">
    <button mat-button (click)="close()">Annuler</button>
    <button mat-button class="valide-button" (click)="valid()">Valider</button>
  </mat-dialog-actions>
</div>







